body{
  margin:0;
  background:#000000;
  font-family:Arial, sans-serif;
}

.gallery{
  max-width:1100px;
  margin:auto;
  padding:40px 20px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 160px;
  gap:20px;
}

/* immagini base */
.grid img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:4px;
}

/* layout */

/* prima riga */
.small{
  grid-column: span 2;
}

/* immagini grandi */
.big-left{
  grid-column: span 3;
  grid-row: span 2;
}

.big-right{
  grid-column: span 3;
  grid-row: span 3;
}

/* ultima riga */
.small-bottom-left{
  grid-column: span 1;
  grid-row: span 1;
}

.wide-bottom{
  grid-column: span 5;
  grid-row: span 1;
}

/* responsive */
@media(max-width:900px){

  .grid{
    grid-template-columns:1fr 1fr;
    grid-auto-rows:200px;
  }

  .small,
  .big-left,
  .big-right,
  .small-bottom-left,
  .wide-bottom{
    grid-column: span 2;
    grid-row: span 1;
  }

}